@tailwind base;
@tailwind components;
@tailwind utilities;

/* In index.css or a global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
